@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --color-1: #3B2B46;
    --color-2: #A795A5;
    --color-2-custom: #665264;
    --color-3: #7A959E;
    --color-4: #FFFFEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-menu {
    width: auto;
    height: 8vh;
    background-color: var(--color-2-custom);
}

nav {
    display: flex;
    justify-content: flex-end;
}

.ul-menu {
    list-style-type: none;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-menu li {
    margin-top: 10px;
    margin-right: 10px;

}

ul a {
    text-decoration: none;
    color: var(--color-4);
}

ul a:hover,
a:focus {
    color: var(--color-1);
}

.btn-mobile {
    display: none;
}

/* Estilizando sec 1 */

section {
    color: var(--color-1);
}

.sec-1 {
    border-bottom: 3px solid var(--color-3);
    border-radius: 10px;
}

.sec-1 h1 {
    text-align: center;
    margin: 10px;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    height: 30vh;
    overflow-y: scroll;
}

.card {
    width: 18rem;
}

.my-color {
    background-color: var(--color-2);
    box-shadow: 10px 10px 20px 1px var(--color-1);
}

.btn-my-color {
    background-color: var(--color-2-custom);
}

.btn:hover {
    background-color: var(--color-1);
    color: white;
}

/* Estilização sec-2 */

.sec-2 h1 {
    text-align: center;
    margin: 20px;
}

.btn-add {
    display: flex;
    justify-content: center;
}

.my-btn {
    background-color: var(--color-2);
    color: var(--color-1);
}

.my-btn:hover,
.my-btn:active {
    background-color: var(--color-1);
    color: var(--color-4);
    font-weight: 700;
    border: 0;
}

.box-gastos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}


/* Estilizar o modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: var(--color-4);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--color-1);
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-modal {
    width: 90px;
    text-align: center;
    margin: 10px;
}

button i {
    font-size: 1rem;
    text-align: center;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

textarea {
    resize: none;
}

label {
    font-size: 1.2em;
}

.modal h3 {
    text-align: center;
}

.item-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Cards feito pelo modal */

.box-gastos .card .card-header {
    background-color: #665264;
    color: white;
}

.card-text {
    padding: 0px 5px;
}


/* Medias */

@media (max-width: 630px) {

    .ul-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 8vh;
        right: 0px;
        background-color: var(--color-2-custom);
        height: 0px;
        z-index: 9;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav.active ul {
        height: calc(100vh - 8vh);
        visibility: visible;
        overflow-y: auto;
    }

    .ul-menu li {
        border-bottom: 1px solid var(--color-1);
        overflow: hidden;
    }

    .ul-menu li a {
        padding: 1rem 0;
        margin: 0 1rem;
    }

    .btn-mobile {
        display: block;
        margin-right: 10px;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        border: none;
        background: none;
        margin-top: -5px;
        color: white;
        cursor: pointer;
    }

}

@media (max-width: 428px) {

    .btn-mobile {
        margin-top: -15px;
    }

    .header-menu {
        height: 5vh;
    }

    .ul-menu {
        top: 5vh;
    }

}